<main>
    <div class="container mt-5">
        <div class="row">
            <div class="col-12 text-center mb-4">
                <h1 class="title">Contáctanos</h1>
            </div>
        </div>
        <div class="row justify-content-center mb-4">
            <div class="col-12 col-md-8">
                <h4 class="text-center p-3 bg-dark text-white">Somos la forma más confiable de comprar</h4>
            </div>
        </div>
        <div class="row input-container">
            <div class="col-12 mb-3">
                <div class="styled-input wide">
                    <input type="text" required />
                    <label>Nombre</label>
                </div>
            </div>
            <div class="col-md-6 col-sm-12 mb-3">
                <div class="styled-input">
                    <input type="email" required />
                    <label>Email</label>
                </div>
            </div>
            <div class="col-md-6 col-sm-12 mb-3">
                <div class="styled-input">
                    <input type="tel" required />
                    <label>Número celular</label>
                </div>
            </div>
            <div class="col-12 mb-3">
                <div class="styled-input wide">
                    <textarea required></textarea>
                    <label>Detalle del pedido</label>
                </div>
            </div>
            <div class="col-12 text-center">
                <button class="btn btn-primary btn-lg submit-btn">Enviar mensaje</button>
            </div>
        </div>
    </div>
</main>
<!-- <footer class="bg-light py-4">
    <div class="container">
        <div class="row text-center">
            <div class="col-md-4">
                <h5>Redes Sociales</h5>
                <p>Black Book</p>
                <a href="https://www.facebook.com/?locale=es_LA" target="_blank">
                    <i class="fab fa-facebook fa-beat"></i>
                </a>
            </div>
            <div class="col-md-4">
                <h5>Correos</h5>
                <p>andyNarvgmail.com</p>
                <a href="mailto:correoexample.com" target="_blank">
                    <i class="fa-solid fa-envelope fa-beat" style="color: red;"></i>
                </a>
            </div>
            <div class="col-md-4">
                <h5>Contactos</h5>
                <p>+123456789</p>
                <a href="tel:+123456789" target="_blank">
                    <i class="fa-solid fa-phone fa-beat" style="color: green;"></i>
                </a>
            </div>
        </div>
    </div>
</footer> -->
